@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p>Ir a SIFHA <a href="https://www.sifha.com.do">Martinez y Castillo srl</a>.</p>
</div>

<p class="centrado">
    <a href="~/Home/index"><img src="~/Logo/Logo-centro.png" class="Logo-Menu" alt="Alternate Text" /></a>

</p>
